body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
   
}

header {
   
    color: #fff;
    text-align: center;
    padding: 10px;
}
#st{
    
    color: #ff0000;
    text-align: center;
    padding: 10px;
}
nav
{
   
    color: #fff;
    text-align: center;
    padding: 10px;
}
footer 
{
   
    color: #fff;
    text-align: center;
    padding: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffffff;
}

main {
    padding: 20px;
 text-align: center;
}

h2 {
    color: #ffffff;
    text-align: center;
}

p {
    color: #ffffff;
    line-height: 1.6;
    text-align: center;
}
form{
    color:white;
    
}
h3{
    color: rgb(255, 255, 255);
    text-align: center;
}
#b1{
    background-image: url(S78YADs.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-blend-mode: multiply;
}
#b2{
    background-image: url(pngtree-orange-pattern-with-black-background-image_287352.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-blend-mode: multiply;
}
#b3{
    background-image: url(S78YADs.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-blend-mode: multiply;
}
img{
    width: 50%;
}
#d{
    display: flex;
    justify-content: center;
    align-items:center ;
    border: 10px red;
}
